//Variables de texto

$textcolor: #fff;
$textcolor-black: #000;
$textcolor-secondary: rgb(158, 158, 158);
$textcolor-active: rgb(210, 218, 75);
$fonttitle: "Creepster", cursive;
$fonttext: "Roboto", sans-serif;

//variables background
$backgroundcolor: rgb(255, 255, 255);
$backgroundcolor-secondary: rgb(32, 35, 41);
$backgroundcolor-card: rgb(60, 62, 68);

//
