@import "../../Styles/globalstyles";
.card-location {
  background-color: $backgroundcolor-card;
  margin: 10px;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 10px;

  h3 {
    font-family: $fonttitle;
    color: $textcolor-active;
    font-size: 24px;
    letter-spacing: 3px;
    margin-bottom: 5px;
  }

  p {
    margin-bottom: 5px;
  }
}
